<!--<div class="app-footer d-flex align-items-center justify-content-between" [class.fixed-bottom]="settings.theme.footerIsFixed">-->
<!--    <span class="social-icons">-->
<!--         <a href="https://www.facebook.com/themeseason" target="_blank"><i class="fa fa-facebook-square transition" aria-hidden="true"></i></a>-->
<!--         <a href="https://twitter.com/themeseason" target="_blank"><i class="fa fa-twitter-square transition" aria-hidden="true"></i></a>-->
<!--         <a href="https://www.instagram.com/themeseason" target="_blank"><i class="fa fa-instagram transition" aria-hidden="true"></i></a>-->
<!--         <a href="https://www.pinterest.com/themeseason" target="_blank"><i class="fa fa-pinterest-square transition" aria-hidden="true"></i></a>-->
<!--    </span>-->
<!--    <span class="copyright">Copyright © 2020 All Rights Reserved</span>-->
<!--</div>-->

<!-- Footer -->

<footer class="page-footer font-small stylish-color-dark pt-4">
    <!-- Call to action -->
    <ul class="list-unstyled list-inline text-center py-2">

        <li class="list-inline-item row">
            <div class="col-xs-6 col-md-3">
                <div class="sh"><img src="assets/logo.png" class="avatar  rounded-circle" width="40" height="40">PETIT SERVICE<strong>.TN</strong></div>
                    <p class="text-center sh" style="font-size: 0.5rem"> Adresse:Sfax, Tunisie</p>
            </div>
            <div class="col-sm-12 col-md-6">
                <h6 class="card__category " style="color: red; font-size: medium">
                    à propos</h6>
                <p class=" text-left sh"style="font-size: 0.5rem ;color: black; margin-left: 20px">Cette application prend en considération la nécessité d’acquérir des services à domicile dans une date et durée donnée et
                    avec un prix raisonnable.la réservation et le dépots d’un service se fait par l'utilisateur selon son role à distance    </p>
            </div>
            <div class="col-xs-6 col-md-3">
                <h6 class="card__category " style="color: red; font-size: medium; text-transform:lowercase ">Categories des service</h6>
            <ul class="footer-links card__title text-left sh"style="font-size: 0.5rem ;color: black; margin-left: 85px">
                <li>Entretient de la maison</li>
                <li>Garde d'enfants</li>
                <li>Seniors & Autonomie</li>
                <li>Bricolage</li>
                <li>Jardinage</li>
            </ul>
            </div>

        </li>
    </ul>

    <!-- Call to action -->

    <hr>
    <!-- Copyright -->
    <div class="footer-copyright text-center ">

        <!--    <span class="copyright">Copyright © 2020 All Rights Reserved</span>-->
        <div class="row align-content">
                        <div class="col ">
                <ul class="social-icons">
                    <li><p  class="card__category"style="font-size: 0.5rem ;color: black ;margin-left: 20px ; white-space: initial	;">
                          Contactez nous sur :                    </p></li>
                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                    <br>
                    <li><p class="card__category"  style="font-size: 0.35rem ;color: black ; margin-left: 20px ;
                        ">Copyright © 2020 Tous droits réservés</p></li>
                </ul>

            </div>
<!--            <div class="col-md-8 col-sm-6 col-xs-12 text-right" style=" margin-bottom: -20px">-->
<!--                <p class="copyright-text card__category" style="font-size: 0.5rem ;color: black">-->
<!--                </p>-->
<!--            </div>-->
    </div>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
